<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stock.answer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.activities.MyScoreActivity"></activity>
        <activity android:name=".ui.activities.CollectActivity" />
        <activity
            android:name=".ui.activities.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.MyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.KnowledgeDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.QuestionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.FeedBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.ui.login.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.AgreementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ExamListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ExamActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>